<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Add a Fitness Member</title>
    </head>
    <body>
        <div class="page">
            <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
            </div>
            <div class="headerimg">
                <img th:src="@{/resources/images/members.jpg}"/>
                <h1>MEMBER BOOKING</h1>
            </div>
            <div class="memberbookinginput">    
                <h2>Add/Update a member</h2>
                <p th:text="${message}"></p>
                <form th:object="${newMember}" action="add.html" th:action="@{/members/addSubmit}" method="get" class="form-horizontal">
                    <fieldset>
                        <input type="hidden" th:field="${newMember.id}"/>
                        <table class="table table-striped">
                            <tr>
                                <th>User ID</th>
                                <td>
                                    <select style="color: black;" name="userId" th:field="${newMember.userId}">
                                        <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userId + ' (' + user.firstName + ' ' + user.lastName + ')'}"></option>                            
                                    </select>
                                    <ul th:if="${#fields.hasErrors('userId')}">
                                        <li class="alert-danger" th:each="err : ${#fields.errors('userId')}" th:text="${err}">User ID is invalid</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Cell Number</th>
                                <td>
                                    <input type="text" th:field="${newMember.phoneCell}"/>
                                    <ul th:if="${#fields.hasErrors('phoneCell')}">
                                        <li class="alert-danger" th:each="err : ${#fields.errors('phoneCell')}" th:text="${err}">Cell No is invalid</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Phone(Home)</th>
                                <td>
                                    <input type="text" th:field="${newMember.phoneHome}" maxlength="100"/>
                                    <ul th:if="${#fields.hasErrors('phoneHome')}">
                                        <li class="alert-danger" th:each="err : ${#fields.errors('phoneHome')}" th:text="${err}">Phone No is invalid</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Phone(Work)</th>
                                <td><input type="text" th:field="${newMember.phoneWork}" maxlength="100"/>
                                     <ul th:if="${#fields.hasErrors('phoneWork')}">
                                            <li class="alert-danger" th:each="err : ${#fields.errors('phoneWork')}" th:text="${err}">Phone No is invalid</li>
                                     </ul><br/>

                                </td>
                            </tr>

                            <tr>
                                <th>Address</th>
                                <td><input type="text" th:field="${newMember.address}" maxlength="100"/>
                                     <ul th:if="${#fields.hasErrors('address')}">
                                            <li class="alert-danger" th:each="err : ${#fields.errors('address')}" th:text="${err}">Address is invalid</li>
                                     </ul><br/>

                                </td>
                            </tr>   
                             <tr>
                                <th>Membership Starting Date</th>
                                <td><input type="text" th:field="${newMember.membershipStartDate}" maxlength="8" placeholder="yyyymmdd"/>
                                     <ul th:if="${#fields.hasErrors('membershipStartDate')}">
                                            <li class="alert-danger" th:each="err : ${#fields.errors('membershipStartDate')}" th:text="${err}">Invalid date</li>
                                     </ul><br/>
                                </td>
                             </tr>
                             <tr>
                                <th>Membership Ending Date</th>
                                <td><input type="text" th:field="${newMember.membershipEndDate}" maxlength="8" placeholder="yyyymmdd"/>
                                     <ul th:if="${#fields.hasErrors('membershipEndDate')}">
                                            <li class="alert-danger" th:each="err : ${#fields.errors('membershipEndDate')}" th:text="${err}">Invalid date</li>
                                     </ul><br/>
                                </td>
                             </tr>                        
                             <tr>
                                <th>Status</th>
                                <td>
                                    <select style="color: black;" name="status" th:field="${newMember.status}">
                                            <option th:each="codeValue : ${codeValues}" value="0" th:value="${codeValue.codeValueSequence}" th:text="${codeValue.englishDescription}"></option>                            
                                    </select>
                                     <ul th:if="${#fields.hasErrors('status')}">
                                            <li class="alert-danger" th:each="err : ${#fields.errors('status')}" th:text="${err}">Invalid status</li>
                                     </ul><br/>
                                </td>
                            </tr>

                        </table>
                        <div style="text-align: left;" class="form-actions">
                            <button class="btn btn-primary btn-lg adjust-button" type="submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>