<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Edit Members</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/members.jpg}"/>
                    <h1>MEMBER BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Member List</h2>
                    <a class="btn btn-primary btn-lg" th:href="@{/members/add}" th:text="Add" ></a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Member Id</th>
                                <th style="width: 150px;">Cell Number</th>
                                <th style="width: 150px;">Phone(Home)</th>
                                <th style="width: 150px;">Phone(Work)</th>
                                <th style="width: 150px;">Address</th>
                                <th style="width: 150px;">Status</th>
                                <th style="width: 150px;">Membership Start Date</th>
                                <th style="width: 150px;">Membership Ending</th>
                                <th style="width: 150px;">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member : ${members}">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.phoneCell}"></td>
                                <td th:text="${member.phoneHome}"></td>
                                <td th:text="${member.phoneWork}"></td>
                                <td th:text="${member.address}"></td>
                                <td th:text="${codeValues[member.status-1].englishDescription}"></td>
                                <td th:text="${member.membershipStartDate}"></td>
                                <td th:text="${member.membershipEndDate}"></td>

                                <td>
                                    <a class="btn btn-primary btn-lg"  th:href="@{/members/update(id=${member.id})}">Update</a>
                                    <a class="btn btn-primary btn-lg"  th:href="@{/members/delete(id=${member.id})}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="fragments/footer :: footer" th:remove="tag">
                </div> 
            </div>
        </div>
    </body>
    
</html>