<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Search a Member's Bookings</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/members.jpg}"/>
                    <h1>MEMBER BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <form  th:object="${memberbooking}" th:action="@{/members/search}" method="post">
                        <h2>Search a Member's Bookings</h2>
                        <div>
                            <label>Fitness Member:</label>
                            <select style="color: black;" name="id" th:field="${memberbooking.memberId}">
                                <option th:each="member : ${members}" value="0" th:value="${member.userId}" th:text="${member.firstName + ' ' + member.lastName}"></option>
                            </select>
                            <ul th:if="${#fields.hasErrors('memberId')}">
                                <li class="error" th:each="err : ${#fields.errors('memberId')}" th:text="${message}">Member ID is invalid</li>
                            </ul>
                            <br/>
                            <label>Start Date:</label>
                            <input type="text" name="bookingDate" th:field="${memberbooking.startDate}" maxlength="8" placeholder="yyyymmdd"/>
                            <ul th:if="${#fields.hasErrors('startDate')}">
                                <li class="error" th:each="err : ${#fields.errors('startDate')}" th:text="${message}">Start Date is invalid</li>
                            </ul>
                            <br/>
                            <label>End Date:</label>
                            <input type="text" name="createdDate" th:field="${memberbooking.endDate}" maxlength="8" placeholder="yyyymmdd"/>
                            <ul th:if="${#fields.hasErrors('endDate')}">
                                <li class="error" th:each="err : ${#fields.errors('endDate')}" th:text="${message}">End Date is invalid</li>
                            </ul>
                            <br/>
                            <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
                        </div>
                    </form>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>