<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Fitness Member Search Results</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/members.jpg}"/>
                    <h1>MEMBER BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Fitness Member Search Results</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Court Number</th>
                                <th style="width: 150px;">Booking Date</th>
                                <th style="width: 150px;">Start Time:</th>
                                <th style="width: 150px;">Member ID:</th>
                                <th style="width: 150px;">Member ID (Opponent):</th>
                                <th style="width: 150px;">Notes:</th>
                                <th style="width: 150px;">Created Date:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="court : ${courts}">
                                <td th:text="${court.courtNumber}"></td>
                                <td th:text="${court.bookingDate}"></td>
                                <td th:text="${court.startTime}"></td>
                                <td th:text="${court.memberId}"></td>
                                <td th:text="${court.memberIdOpponent}"></td>
                                <td th:text="${court.notes}"></td>
                                <td th:text="${court.createdDate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
    
</html>