.container {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    background-color: #333;

}

.container-images {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    float: left;
    display: block;
}

.nospace {
    font-size: 0;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
    margin-right: 10px;
}

.navbar .nav > li > a {
    color: #fff;
}

.form-horizontal .control-label {
    text-align: left;
}

.cisis {
    /*    background-color: #3fd700;*/
    background-color: #202020;
    border-radius:5px;
    vertical-align: middle;    
}

.error {
    color: red; font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    tr:hover {background-color: #111};
}

tr:nth-child(odd) > * {
    background-color: #111 !important;
}

table, th, td {
    border: 1px solid white;
    padding: 1em;
}

.holeSelect {
    width: 6em;
    text-align: center;
}
.cislabel {
    text-align: center;
    margin-top: 20dip;
}

.ciskey {
    font-size: 1.5em;
    color: #0857e0;
}
.ciskeylarge {
    font-size: 2.5em;
    color: #0857e0;
}
.ciskeydiv {
    background: #222;
}

.cis-big-button {
    width: 100%;
    height: 5em;
    
}

.cis-select-no-entry {
    background-color: #222;
}


body {
    background-color: #000 !important;
}
div {
    background-color: #111;
}
select option:selected {
  background-color: yellow !important;
} 


body {
    color: white !important;
}

.navbar-inner > * {
    background-color: #111 !important;
}

.form-actions {
    border-top: none;
    background-color: #111 !important;
}
.logoArea{
    margin-top: 0;
    text-align: center;
    font-style: italic;
    color: darkseagreen;
    background-color: #f5f5f5;
    border-bottom: 1px dashed gray;
}
.logoArea img{
    border-radius: 10px;
}

