<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Add a Court</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/court.jpg}"/>
                    <h1>COURTS</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Add a Court</h2>
                    <form  th:object="${court}" th:action="@{/courts/addSubmit}" method="post">
                        <div>
                            <input type="hidden" name="id" th:field="${court.id}"/>
                            <label>Court Number:</label>
                            <input type="text" name="courtName" th:field="${court.courtNumber}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('courtNumber')}">
                                <li class="error" th:each="err : ${#fields.errors('courtNumber')}" th:text="${message}">Court number is invalid</li>
                            </ul>
                            <br/>
                            <label>Court Name:</label>
                            <input type="text" name="courtName" th:field="${court.courtName}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('courtName')}">
                                <li class="error" th:each="err : ${#fields.errors('courtName')}" th:text="${message}">Court name is invalid</li>
                            </ul>
                            <br/>
                            <label>Court Type:</label>
                            <select style="color: black;" name="courtType" th:field="${court.courtType}">
                                <option style="color: black;" value="1">1</option>
                                <option style="color: black;" value="2">2</option>
                                <option style="color: black;" value="3">3</option>
                            </select>
                            <ul th:if="${#fields.hasErrors('courtType')}">
                                <li class="error" th:each="err : ${#fields.errors('courtType')}" th:text="${message}">Court type is invalid</li>
                            </ul>
                            <br/>
                            <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
                        </div>
                    </form>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>