<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Check Court Availability</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/court.jpg}"/>
                    <h1>COURTS</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Check available bookings here....</h2>
                    <form  th:object="${courtReport}" th:action="@{/courts/checkSubmit}" method="get">
                        <div class="container" >
                            <div class="intro-text form-horizontal" >
                                Check Court availability..!
                            </div>
                            <div>
                                <label>Date:</label>
                                <input type="text" name="date" th:field="${courtReport.date}" maxlength="100" placeholder="yyyymmdd"/>
                                <ul th:if="${#fields.hasErrors('date')}">
                                    <li class="error" th:each="err : ${#fields.errors('date')}" th:text="${message}">Invalid date</li>
                                </ul>
                                <br/>
                                <label>Time:</label>
                                <input type="text" name="time" th:field="${courtReport.time}" maxlength="100" placeholder="hhmm"/>
                                <ul th:if="${#fields.hasErrors('time')}">
                                    <li class="error" th:each="err : ${#fields.errors('time')}" th:text="${message}">Invalid time</li>
                                </ul>
                                <br/>
                                <label>Court Type:</label>
                                <select style="color: black;" name="courtType" th:field="${courtReport.courtType}">
                                    <option th:each="codeValue : ${codeValues}" value="0" th:value="${codeValue.codeValueSequence}" th:text="${codeValue.englishDescription}"></option>
<!--                                    <option th:each="court : ${courts}" th:value="${court.courtType}" th:text="${court.courtName}"></option>-->
                                </select>
                                <ul th:if="${#fields.hasErrors('courtType')}">
                                    <li class="error" th:each="err : ${#fields.errors('courtType')}" th:text="${message}">Court type is invalid</li>
                                </ul>
                                <br/>
                                <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
    
</html>