<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Court Availability</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/court.jpg}"/>
                    <h1>COURTS</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Available courts for booking....!!</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Court type</td>
                                <td>Date</td>
                                <td>Starting time</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="availableCourt : ${availableCourtList}">
                                <td th:text="${availableCourt.courtType}"></td>
                                <td th:text="${availableCourt.date}"></td>
                                <td th:text="${availableCourt.time}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>