<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Edit Courts</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/court.jpg}"/>
                    <h1>COURTS</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Edit Courts</h2>
                    <a class="btn btn-primary btn-lg" th:href="@{/courts/add}" th:text="Add" ></a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Court Number</th>
                                <th style="width: 150px;">Court Name</th>
                                <th style="width: 150px;">Court Type</th>
                                <th style="width: 150px;">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="court : ${court}">
                                <td th:text="${court.courtNumber}"></td>
                                <td th:text="${court.courtName}"></td>
                                <td th:text="${court.courtType}"></td>
                                <td>
                                    <a class="btn btn-primary btn-lg"  th:href="@{/courts/update(id=${court.id})}">Update</a>&nbsp;
                                    <a class="btn btn-primary btn-lg"  th:href="@{/courts/delete(id=${court.id})}">Delete</a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div> 
            </div>
        </div>
    </body>
</html>