<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="page">
            <div th:fragment="bodyHeader">
                <div class="logo">
                    <img th:src="@{/resources/images/nordica_logo.png}"/>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" th:text="#{edit}"></button>
                    <div class="dropdown-content">
                        <a th:href="@{/members/list}" th:text="#{memberTitle}"></a>
                        <a th:href="@{/courts/list}" th:text="#{courtTitle}"></a>
                        <a th:href="@{/courtBooking/list}" th:text="#{courtBookTitle}"></a>
                    </div>
                </div>
                <div class="dropdown2">
                    <button class="dropbtn2" th:text="#{export}"></button>
                    <div class="dropdown-content2">
                        <a th:href="@{/members/save}" th:text="#{memberTitle}"></a>
                        <a th:href="@{/courts/save}" th:text="#{courtTitle}"></a>
                        <a th:href="@{/courtBooking/save}" th:text="#{courtBookTitle}"></a>
                    </div>
                </div>
                <div class="dropdown3">
                    <button class="dropbtn3" th:text="#{tools}"></button>
                    <div class="dropdown-content3">
                        <a th:href="@{/members/memberBooking}" th:text="#{memberTitle2}"></a>
                        <a th:href="@{/courts/check}" th:text="#{courtTitle2}"></a>
                        <a th:href="@{/courtBooking/report}" th:text="#{courtBookTitle2}"></a>
                    </div>
                </div>
                <a class="dropbtn" th:href="@{/other/about}" th:text="#{about}"></a>
            </div>
        </div>
    </body>
</html>