body{
  margin:0px;
  background-color: #FFF5AE
}
.memberspage{
text-align:center;
width:1000px;
height:1400px;
padding:20px;
background-color:#FAFAFA;
margin:0px;
margin:auto;
}
.exportpage{
text-align:center;
width:1000px;
height:800px;
padding:20px;
background-color:#FAFAFA;
margin:0px;
margin:auto;
}
.page{
text-align:center;
width:1000px;
height:800px;
padding:20px;
background-color:#FAFAFA;
margin:0px;
margin:auto;
}
.logo{
 margin:auto;
 width:320px;
 margin-bottom:50px;
}



/* Dropdown Button */
.dropbtn {
  background-color: #64899B;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  width:200px;
  font-family: 'Montserrat', sans-serif;
  font-size:13pt;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #64899B;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:11pt;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #275E61;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F3B71B;}








/* Dropdown Button */
.dropbtn2 {
  background-color: #64899B;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  width:200px;
  font-family: 'Montserrat', sans-serif;
  font-size:13pt;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #64899B;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:11pt;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #275E61;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {background-color: #F3B71B;}

h1{
  font-family: 'Montserrat', sans-serif; font-weight:300;
  font-size:80pt;
  color:white;
  position:relative;
  top:-255px;
}

.headerimg {
  position:absolute;
  left:0px;
  margin-top:60px;
  width:100%
}

.test{
  color:black;
}

.cellphone{
position:relative;
top:400px;
left:50px;
}


.cellphonelabel{
position:relative;
left:-30px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.homephone{
position:relative;
right:8px;
border-color:#CED6DD;
}

.homephonelabel{
position:relative;
right:38px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.workphone{
position:relative;
right:5px;
border-color:#CED6DD;
}

.workphonelabel{
position:relative;
right:35px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.homemailing{
position: relative;
right: 37px;
border-color:#CED6DD;
}

.homemailinglabel{
position:relative;
right:67px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.beginning{
position: relative;
right: 49px;
border-color:#CED6DD;
}

.beginninglabel{
position:relative;
right:79px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.cellphone1{
position: relative;
    right: -1px;
border-color:#CED6DD;
}

.end{
position: relative;
    right: 26px;
border-color:#CED6DD;
}

.endlabel{
position:relative;
right:56px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.submitbutton{
position:relative;
top:70px;
right:50px;
  background-color: #64899B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.courttype{
position: relative;
right: 26px;
border-color:#CED6DD;
}

.courttypelabel{
position:relative;
right:56px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.courtname{
position:relative;
right:31px;
border-color:#CED6DD;
}

.courtnamelabel{
position:relative;
right:61px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.input{
position:relative;
top:400px;
left:50px;
}

.courtnumber{
position:relative;
right:0px;
border-color:#CED6DD;
}

.courtnumberlabel{
position:relative;
right:30px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.bookingdate{
position:relative;
right:25px;
border-color:#CED6DD;
}

.bookingdatelabel{
position:relative;
right:55px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.starttime{
position:relative;
right:56px;
border-color:#CED6DD;
}

.starttimelabel{
position:relative;
right:86px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.memberid{
position:relative;
right:18px;
border-color:#CED6DD;
}

.memberidlabel{
position:relative;
right:48px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.opponent{
position:relative;
right:56px;
border-color:#CED6DD;
}

.opponentlabel{
position:relative;
right:86px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.notes{
position:relative;
right:65px;
border-color:#CED6DD;
}

.noteslabel{
position:relative;
right:95px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.datebookingwasmade{
position:relative;
right:65px;
border-color:#CED6DD;
}

.datebookingwasmadelabel{
position:relative;
right:95px;
top:-65px;
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

h3{
position:relative;
top:80px;
font-size:18px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.memberbookinginput{
position:relative;
top:400px;
left:50px;
}

.startdate{
position:relative;
top:40px;
right:100px;
border-color:#CED6DD;
}

.startdatelabel{
position:relative;
top:40px;
right:130px;
font-size:18px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.enddate{
position:relative;
top:40px;
right:2px;
border-color:#CED6DD;
}

.enddatelabel{
position:relative;
top:40px;
right:32px;
font-size:18px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.fitnessmember{
position:relative;
right:-38px;
border-color:#CED6DD;
}

.fitnessmemberlabel{
position:relative;
right:-9px;
font-size:18px;
font-family: 'Montserrat', sans-serif; font-weight:400;
}

.title{
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:500;
font-color:#F3B71B;
text-align:right;
}

p{
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
text-align:left;
}

.one{
position:relative;
top:-40px;
right:650px;
}

.two{
position:relative;
top:-485px;
left:450px;
}

.date{
border-color:#CED6DD;
position:relative;
right:5px;
}

.datelabel{
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
position:relative;
right:35px;
}

.time{
border-color:#CED6DD;
position:relative;
right:5px;
}

.timelabel{
font-size:14px;
font-family: 'Montserrat', sans-serif; font-weight:400;
position:relative;
right:35px;
}

.footer{
position:relative;
top:400px;
left:240px;
}

.indexfooter{
position:relative;
left:400px;
bottom:50px;
}

.membersfooter{
    position:relative;
left:400px;
bottom:50px;
}

.memberbookingfooter{
    position:relative;
left:400px;
bottom:50px;
}

.memberbooking2footer{
    position:relative;
left:400px;
bottom:50px;
}

.courtfooter{
position:relative;
left:400px;
bottom:50px;
}

.availablecourtfooter{
    position:relative;
left:400px;
bottom:50px;
}

.availablecourt2footer{
    position:relative;
left:400px;
bottom:50px;
}

.courtbookingfooter{
    position:relative;
left:400px;
bottom:50px;
}

.courtexportfooter{
    position:relative;
left:230px;
top:425px;
}

.courtbookingexportfooter{
position:relative;
left:230px;
top:425px;
}