<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Book a Court</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/courtbooking.jpg}"/>
                    <h1>COURT BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Book a Court</h2>
                    <p th:text="${message}"></p>
                    <form  th:object="${courtbooking}" th:action="@{/courtBooking/bookSubmit}" method="post" class="form-horizontal">
                        <fieldset>
                            <table class="table table-striped">
                                <div>
                                    <!--                            <input type="hidden" name="id" th:field="${courtbooking.id}" maxlength="10"/>-->
                                    <tr>
                                        <th>Court Number:</th>
                                        <td><input type="text" name="courtName" th:field="${courtbooking.courtNumber}" maxlength="100"/>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('courtNumber')}">
                                            <li class="error" th:each="err : ${#fields.errors('courtNumber')}" th:text="${message}">Court number is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Booking Date:</th>
                                        <td><input type="text" name="courtName" th:field="${courtbooking.bookingDate}" maxlength="100"/>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('bookingDate')}">
                                            <li class="error" th:each="err : ${#fields.errors('bookingDate')}" th:text="${message}">Booking Date is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Start Time:</th>
                                        <td><input type="text" name="courtName" th:field="${courtbooking.startTime}" maxlength="100"/>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('startTime')}">
                                            <li class="error" th:each="err : ${#fields.errors('startTime')}" th:text="${message}">Start Time is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Fitness Member:</th>
                                        <td><select style="color: black;" name="memberId" th:field="${courtbooking.memberId}">
                                                <option th:each="member : ${members}" value="0" th:value="${member.id}" th:text="${member.id}"></option>                            
                                            </select>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('memberId')}">
                                            <li class="error" th:each="err : ${#fields.errors('memberId')}" th:text="${message}">Member ID is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Opponent:</th>
                                        <td><select style="color: black;" name="memberIdOpponent" th:field="${courtbooking.memberIdOpponent}">
                                                <option th:each="member : ${members}" value="0" th:value="${member.id}" th:text="${member.id}"></option>                            
                                            </select>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('memberIdOpponent')}">
                                            <li class="error" th:each="err : ${#fields.errors('memberIdOpponent')}" th:text="${message}">Opponent is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Notes:</th>
                                        <td><input type="text" name="courtName" th:field="${courtbooking.notes}" maxlength="100"/>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('notes')}">
                                            <li class="error" th:each="err : ${#fields.errors('notes')}" th:text="${message}">Notes is invalid</li>
                                        </ul>
                                    </tr>

                                    <tr>
                                        <th>Date Created:</th>
                                        <td><input type="text" name="courtName" th:field="${courtbooking.createdDate}" maxlength="100"/>
                                        </td>
                                        <ul th:if="${#fields.hasErrors('createdDate')}">
                                            <li class="error" th:each="err : ${#fields.errors('createdDate')}" th:text="${message}">Date Created is invalid</li>
                                        </ul>
                                    </tr> 
                                </div>
                            </table>
                            <div style="text-align: center;" class="form-actions">
                                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                            </div>
        <!--                    <input type="submit" class="btn btn-primary btn-lg" value="Submit"/> -->
                        </fieldset>
                    </form>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
