<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Fitness Member Usage Report</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/courtbooking.jpg}"/>
                    <h1>COURT BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Available courts for booking....!!</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Fitness Member</td>
                                <td>Number of Court Bookings</td>
                                <td>Start Date</td>
                                <td>End Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="availableCourt : ${courtBookingList}">
                                <td th:text="${availableCourt.courtBooking}"></td>
                                <td th:text="${availableCourt.StartDate}"></td>
                                <td th:text="${availableCourt.EndDate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>