<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/headTag :: headTag"></div>
        <title>Court Booking</title>
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div th:replace="fragments/bodyHeader :: bodyHeader" th:remove="tag">
                </div>
                <div class="headerimg">
                    <img th:src="@{/resources/images/courtbooking.jpg}"/>
                    <h1>COURT BOOKING</h1>
                </div>
                <div class="memberbookinginput">
                    <h2>Edit Court Booking</h2>
                    <a class="btn btn-primary btn-lg" th:href="@{/courtBooking/book}" th:text="Book" ></a>
                    <br/>
                    <br/>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 100px;">Court Number</th>
                                <th style="width: 100px;">Booking Date</th>
                                <th style="width: 100px;">Start Time</th>
                                <th style="width: 100px;">Member ID</th>
                                <th style="width: 100px;">Opponent ID</th>
                                <th style="width: 100px;">Notes</th>
                                <th style="width: 100px;">Date Created</th>                                                
                                <th style="width: 140px;">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="courtbooking : ${courtbooking}">
                                <td th:text="${courtbooking.courtNumber}"></td>
                                <td th:text="${courtbooking.bookingDate}"></td>
                                <td th:text="${courtbooking.startTime}"></td>
                                <td th:text="${courtbooking.memberId}"></td>
                                <td th:text="${courtbooking.memberIdOpponent}"></td>
                                <td th:text="${courtbooking.notes}"></td>
                                <td th:text="${courtbooking.createdDate}"></td>
                                <td>
                                    <a class="btn btn-primary btn-lg"  th:href="@{/courtBooking/update(id=${courtbooking.id})}">Update</a>&nbsp;
                                    <a class="btn btn-primary btn-lg"  th:href="@{/courtBooking/delete(id=${courtbooking.id})}">Delete</a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>